# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore Whisper model files
*.pt

# Ignore audio files
*.mp3
*.wav

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore WebSocket connection files
*.ws

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
